/*HEADER*/

/*Barra de navegacion*/
*{
    box-sizing: border-box;
 }
 .navbar {
    background-color: #F75E11;
 }
 
 .fondoSlider{
    background-color: rgb(133, 133, 133);
 }
 
 .navbar-nav a {
 
    text-decoration: none;
    color: #f8f9fa;
    margin-top: 1%;
 }
 
 .opciones {
    flex: content;
    justify-content: center;
    align-items: center;
 }
 
 .contenedorNombre {
    padding: 0px !important;
 }
 
 #nombre {
    font-family: 'Rubik Mono One', sans-serif;
    color: cornsilk;
    margin-right: 2% !important;
 }
 
 /*LOGIN*/
 .login {
    padding: 0px !important;
    display: block ruby;
 }
 
 div.login li {
    list-style: none;
 }
 
 #menu{
    padding: 0px;
    margin-right: 10% !important;
 }
 
 #botonLogin {
    width: 3rem;
    height: 1rem;
 }

 @media (min-width: 988px) {
    div.navbar-nav a.botonOp {
       margin-right: 2%;
    }
 }